<div class="uk-cover-background uk-height-viewport uk-width-viewport full-bg" style="background-image: url(assets/<%= background_image %>);">
    <div class="transparent-<%= background_color %> uk-height-viewport uk-width-viewport inner-overlay">

        <div class="big-title top-padding">
            <h1>
                Save Your<br/>
                Money.
            </h1>
            <p class="serif">Buy Nice Things.</h4>
        </div>
    </div>
</div>