<div class="uk-cover-background uk-height-viewport uk-width-viewport full-bg" style="background-image: url(assets/<%= background_image %>);">
    <div class="transparent-<%= background_color %> uk-height-viewport uk-width-viewport inner-overlay">

        <div class="big-title">
            <h1 class="left">
                <span class="brand-color">Save</span><br/>
                Your<br/>
                Money
            </h1>
            <h1 class="serif right">
                <span class="brand-color">Buy</span><br/>
                Nice<br/>
                Things.
            </h1>

        </div>
    </div>
</div>