<%- model_class = Budget -%>
<% content_for :head do %>
<%= t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class%>
<% end %>
<div class="uk-width-1-3 uk-container-center ">
<%= render :partial => 'form' %>
</div>