<%- model_class = Income -%>
<% content_for :head do %>
<%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class %>
<br/>
<small><%= @budget.name %></small>
<% end %>

<div class="uk-width-1-1 uk-width-large-1-3 uk-width-xlarge-1-4 uk-container-center ">
    <%= render :partial => 'form', locals: {path: edit_budget_path(@budget), model: [@budget, @income]} %>
</div>