<div class="uk-cover-background uk-height-viewport uk-width-viewport full-bg padding-offset" style="background-image: url(<%=asset_path background_image %>);">
    <div class="transparent-black-5 uk-height-viewport uk-width-viewport inner-overlay ">

        <div class="uk-width-medium-1-3 ">
            <div class="display-header">
                <h1>
                    Save<br/>
                    <span class="sb-primary-color-text display-font">More</span><br/>
                    Money
                </h1>

                <div class="uk-width-medium-1-1 ">
                    <hr class="uk-grid-divider"/>
                </div>
                <h1>
                    Buy<br/>
                    <span class="sb-primary-color-text  display-font">Better</span><br/>
                    Things.
                </h1>

            </div>
        </div>
    </div>
</div>