<%= render partial: 'elements/banner' %>
<% if user_signed_in? %>
<section class="content-section">

    <div class="uk-width-small-8-10 uk-container-center">
      test
    </div>
</section>
<% end %>