$shades: 10;

@mixin transparent-background-list {
  @for $i from 0 through $shades - 1 {
  .transparent-black-#{$i} { 
        background-color: rgba(20, 20, 20, $i/10);
   }
  }
}

@mixin uk-animation-timer {
  @for $i from 1 through 30 {
  .uk-animation-#{$i} { 
    -webkit-animation-duration: #{$i}s;
      animation-duration: #{$i}s;
   }
  }
}

@include transparent-background-list;
@include uk-animation-timer;

@function get-vw($target) { 
  $vw-context: (1000*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function get-vh($target) { 
  $vh-context: (1000*.01) * 1px;
  @return ($target/$vh-context) * 1vh;
}