// Place all the styles related to the style framework here.
// They will automatically be included in application.css.scss
// You can use Sass (SCSS) here: http://sass-lang.com/
/* FONTS */
@import url( 'https://fonts.googleapis.com/css?family=Didact+Gothic|Unna');
$brand-primary: #7DC076;
$brand-secondary: #B5DCB1;
$brand-tertiary: #2F7570;
$white: #fefefe;
$body-bg: #efefee;
$header-font: 'Didact Gothic';
$header-font-fallback: sans-serif;
$text-font: 'Unna';
$text-font-fallback: serif;
@import "uikit"; // Default Theme
@import "mixins"; // mixins for theme
//
/* HTML STYLES */
* {
    font-family: $text-font, $text-font-fallback;
}

.main-content > * {
  color:$white;
}

.serif {
    font-family: $text-font, $text-font-fallback;
}

.sans-serif {
    font-family: $header-font, $header-font-fallback;
}

a {
    color: $brand-primary;
}

a:hover {
    color: darken($brand-primary, 20%);
}

h1,
h2,
h3,
h4 {
    font-family: $header-font, $header-font-fallback;
    color: $white;
}
//
/* MISC */
.sb-primary-color {
    color: $brand-primary;

    &-light {
        color: lighten($brand-primary, 13%);
    }

    &-dark {
        color: darken($brand-primary, 13%);
    }
}

.sb-secondary-color {
    color: $brand-secondary;

    &-light {
        color: lighten($brand-secondary, 13%);
    }

    &-dark {
        color: darken($brand-secondary, 13%);
    }
}

.top-padding {
    padding-top: 100px !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #555 inset !important;
    -webkit-text-fill-color: lighten($brand-primary, 20%);
}

/* ALERTS */
.uk-alert {
    color: #444;
    font-size: 1.5em;
    text-align: center;
    #flash_alert{
      color:#444;
    }
}
//
/* NAVBAR STYLES */
.uk-navbar {
    background: rgba(20,20,20,0.5);
    position: relative;
    z-index: 999;
    min-height: 40px;
    padding: 20px 0;

    * {
        text-transform: uppercase;
    }

}

.uk-navbar-nav > li > a {
    color: $brand-primary;
    background: transparent;
    font-family: $header-font, $header-font-fallback;
    font-size: 1.5em;
}

.uk-navbar-toggle {
    color: $brand-primary;

    &:hover {
        color: $brand-primary;
    }
}

.uk-navbar-nav > li.uk-active > a {
    background-color: transparent;
    color: $white;
    background-color: darken($brand-primary, 10%);
}

.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li.uk-open > a,
.uk-navbar-nav > li:hover > a {
    background-color: transparent;
    color: $white;
    background-color: darken($brand-primary, 12%);
}

.uk-navbar-brand {
    color: $brand-primary;
    font-family: $header-font, $header-font-fallback;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 2em;
    padding-top:10px;
    &:hover {
        color: $brand-primary;
    }
}

.uk-offcanvas-bar {
    background-color: darken($brand-primary, 45%);
}
/* BACKGROUND */
.full-bg {
    margin-top: -145px;
    padding: 0;
    z-index: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    
    &.offset-80{
      height:100vh + get-vh(80px);
      .inner-overlay {
        height:100vh + get-vh(80px);
      }
    }
    .inner-overlay {
        padding: 155px 4%;
    }
}
/* HEADINGS */
.big-title {
    padding: 0 20px;
    letter-spacing: 20px;
    > * {
        line-height: .9em;
    }

    h1,
    h2,
    h3,
    p {
        padding: 0;
        margin: 0;
    }

    h1 {
        font-size: 10em;
        font-size: 12vh;
        line-height: 0.9em;
    }

    h2 {
        font-size: 8em;
        font-size: 10vh;
    }

    p {
        font-size: 3em;
        font-size: 6vh;
    }
}
/* LAYOUTS */
section {
    &.content-section {
        min-height: 200px;
        padding: 20px;
    }
}
//
/* FORM STYLES */
.uk-form input:not([type]),
.uk-form input[type="datetime"],
.uk-form input[type="email"],
.uk-form input[type="number"],
.uk-form input[type="password"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="text"],
.uk-form input[type="url"] {
    border: 1px solid #444;
}

.form-user {
    padding-top: 30%;

    .form-links,
    .large-font {
        > * {
            font-size: 1.5em;
        }
    }

    .form-links {
        padding-top: 20px;

        p {
            padding: 0;
            margin: 2px 0;
        }
    }

    input {
        border-radius: 2px;
        font-size: 1.7em;
        border: 1px solid #444;
    }

    .uk-form-row {
        margin-top: 8px;
    }

    .remember-me {
        margin-top: 15px !important;
        letter-spacing: 3px;
        font-weight: 400;
    }

    .large-form {
        display: block;

        input {
            background-color: rgba(10,10,10,.5);
            min-height: 60px;
            color: lighten($brand-primary, 20%);

            &:focus {
                background: rgba(30,30,30,.5);
                color: darken($brand-primary, 10%);
            }
        }
    }

    .uk-button[type="submit"] {
        background: darken($brand-primary, 10%);
        font-weight: bold;
        font-size: 1.3em;
        color: #efefef;
        padding: 15px 0;
        text-transform: uppercase;
        letter-spacing: 3px;

        &:focus {
            background: darken($brand-primary, 20%);
            color: lighten($brand-primary, 30%);
        }
    }
}
/* Large Screens */
@media (min-width:1000px) {
    /* BACKGROUND */
    .full-bg {
        .inner-overlay {
            padding-left: 7%;
        }
    }
    /* HEADINGS */
    .big-title {
        padding-top: 0;
    }
}