// Place all the styles related to the style framework here.
// They will automatically be included in application.css.scss
// You can use Sass (SCSS) here: http://sass-lang.com/
/* FONTS */
@import url( 'https://fonts.googleapis.com/css?family=Didact+Gothic|Unna');
$brand-primary: #6e9862;
$body-bg: #efefee;
$header-font: 'Didact Gothic';
$header-font-fallback: sans-serif;
$text-font: 'Unna';
$text-font-fallback: serif;
@import "uikit"; // Default Theme
//
/* HTML STYLES */
* {
    font-family: $text-font, $text-font-fallback;
}

.serif {
    font-family: $text-font, $text-font-fallback;
}

.sans-serif {
    font-family: $header-font, $header-font-fallback;
}

a {
    color: $brand-primary;
}

a:hover {
    color: darken($brand-primary, 20%);
}

h1,
h2,
h3,
h4 {
    font-family: $header-font, $header-font-fallback;
    color: lighten($brand-primary, 40%);
}
//
/* MISC */
.brand-color{
  color: $brand-primary;
}
.top-padding {
    padding-top: 100px !important;
}

.transparent-black {
    background-color: rgba(20, 20, 20, 0.7);

    & > * {
        color: #f9f9f9;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #333 inset !important;
    -webkit-text-fill-color: lighten($brand-primary, 20%);
}
//
/* NAVBAR STYLES */
.uk-navbar {
    background-color: rgba(20,20,20,0.8);
    position: relative;
    z-index: 999;

    * {
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

.uk-navbar-nav > li > a {
    color: $brand-primary;
    background: transparent;
    font-family: $text-font, $text-font-fallback;
    font-size: 1.5em;
}

.uk-navbar-toggle {
    color: $brand-primary;

    &:hover {
        color: $brand-primary;
    }
}

.uk-navbar-nav > li.uk-active > a {
    background-color: transparent;
    color: lighten($brand-primary, 50%);
    background-color: darken($brand-primary, 10%);
}

.uk-navbar-nav > li > a:focus,
.uk-navbar-nav > li.uk-open > a,
.uk-navbar-nav > li:hover > a {
    background-color: transparent;
    color: lighten($brand-primary, 25%);
    color: lighten($brand-primary, 50%);
    background-color: darken($brand-primary, 20%);
}

.uk-navbar-brand {
    color: $brand-primary;
    font-family: $header-font, $header-font-fallback;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1.5em;

    &:hover {
        color: lighten($brand-primary, 20%);
    }
}

.uk-offcanvas-bar {
    background-color: darken($brand-primary, 45%);
}
/* BACKGROUND */
.full-bg {
    margin-top: -105px;
    padding: 0;
    z-index: 1;

    .inner-overlay {
        padding: 3% 4%;
    }
}
/* ALERTS */
.uk-alert {
    font-size: 1.5em;
    text-align: center;
}
/* HEADINGS */
.big-title {
    padding: 40px 20px;

    > * {
        line-height: 1em;
    }

    h1 {
        font-size: 10em;
        font-size: 15vh;
        line-height: 0.8em;
    }

    h2 {
        font-size: 8em;
        font-size: 10vh;
    }

    p {
        font-size: 3em;
        font-size: 6vh;
    }
}
/* LAYOUTS */
section {
    &.content-section {
        min-height: 200px;
        padding: 20px;
    }
}
//
/* FORM STYLES */
.uk-form input:not([type]),
.uk-form input[type="datetime"],
.uk-form input[type="email"],
.uk-form input[type="number"],
.uk-form input[type="password"],
.uk-form input[type="search"],
.uk-form input[type="tel"],
.uk-form input[type="text"],
.uk-form input[type="url"] {
    border: 1px solid #444;
}

.form-user {
    padding-top: 40%;

    .form-links,
    .large-font {
        > * {
            font-size: 1.5em;
        }
    }

    .form-links {
        padding-top: 20px;

        p {
            padding: 0;
            margin: 2px 0;
        }
    }

    input {
        border-radius: 2px;
        font-size: 1.7em;
        border: 1px solid #444;
    }

    .uk-form-row {
        margin-top: 8px;
    }

    .remember-me {
        margin-top: 15px !important;
        letter-spacing: 3px;
        font-weight: 400;
    }

    .large-form {
        display: block;

        input {
            background: #000;
            min-height: 60px;
            color: lighten($brand-primary, 20%);

            &:focus {
                background: #222;
                color: darken($brand-primary, 10%);
            }
        }
    }

    .uk-button[type="submit"] {
        background: $brand-primary;
        font-weight: bold;
        font-size: 1.3em;
        color: #efefef;
        padding: 15px 0;
        text-transform: uppercase;
        letter-spacing: 3px;

        &:focus {
            background: darken($brand-primary, 20%);
            color: lighten($brand-primary, 30%);
        }
    }
}


/* Large Screens */
@media (min-width:1000px) {
    /* BACKGROUND */
    .full-bg {
        .inner-overlay {
            padding-top: 5%;
            padding-left: 7%;
        }
    }
    /* HEADINGS */
    .big-title {
      padding-top:60px;
        h1 {
            font-size: 11em;
            font-size: 8vw;
        }
        h2 {
            font-size: 8em;
            font-size: 5vw;
        }
        p {
            font-size: 3em;
            font-size: 2vw;
            letter-spacing: 9px;
            line-height: 2em;
        }
        .left{
          text-align: left;
          float:left;
        }
        .right{
          float:right;
          text-align: right;
        }
    }
}