<%- model_class = Expense -%>
<% content_for :head do %>
<%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class %>
<br/>
<small><%= @expense.name %></small>
<% end %>

<div class="uk-width-1-1 uk-width-large-1-2  uk-container-center ">
    <%= render :partial => 'form' %>
</div>