<%- model_class = Expense -%>
<% content_for :head do %>
  <%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Expense %>
  <br/>
  <small><%= @budget.name %></small>
<% end %>

<div class="uk-width-1-4 uk-container-center ">
<%= render :partial => 'form', locals: {path: edit_budget_path(@budget), model: [@budget, @expense]} %>
</div>

